***@Author: Amar Pawar***
<br>

***@Date: 2021-07-13***
<br>

***@Last Modified by: Amar Pawar***
<br>

***@Last Modified time: 2021-07-13***
<br>

***@Title : Program to add, subtract, multiply, divide two pandas series***

In [1]:
import pandas as pd

In [3]:
data_series1 = pd.Series([2,4,6,8,10])
data_series2 = pd.Series([1,3,5,7,9])

In [5]:
data_series = data_series1 + data_series2
data_series

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [6]:
data_series = data_series1 - data_series2
data_series

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [7]:
data_series = data_series1 * data_series2
data_series

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [9]:
data_series = data_series1 / data_series2
data_series

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64