***@Author: Amar Pawar***
<br>

***@Date: 2021-07-13***
<br>

***@Last Modified by: Amar Pawar***
<br>

***@Last Modified time: 2021-07-13***
<br>

***@Title : Coverte panda module series to python list and show its type***

In [1]:
import pandas as pd

In [2]:
data_series = pd.Series([2,4,6,8,10])

In [3]:
type(data_series)

pandas.core.series.Series

In [4]:
data_series.tolist()

[2, 4, 6, 8, 10]

In [6]:
type(data_series.to_list())

list