***@Author: Amar Pawar***
<br>

***@Date: 2021-07-13***
<br>

***@Last Modified by: Amar Pawar***
<br>

***@Last Modified time: 2021-07-13***
<br>

***@Title : Create and display one dimenstional array using pandas module***

In [2]:
import pandas as pd

In [3]:
data_series = pd.Series([2,4,6,8,10])

In [4]:
data_series

0     2
1     4
2     6
3     8
4    10
dtype: int64