***@Author: Amar Pawar***
<br>

***@Date: 2021-07-11***
<br>

***@Last Modified by: Amar Pawar***
<br>

***@Last Modified time: 2021-07-11***
<br>

***@Title : Convert list and tuple into array***

***List to array***

In [5]:
import numpy as np

In [6]:
my_list = [x for x in range(1,5)]

In [7]:
my_list

[1, 2, 3, 4]

In [8]:
my_array = np.array(my_list)

In [9]:
my_array

array([1, 2, 3, 4])

***Tuple to array***

In [10]:
my_tuple = (1,2,3,4,5)

In [11]:
tuple_array = np.array(my_tuple)

In [12]:
tuple_array

array([1, 2, 3, 4, 5])