***@Author: Amar Pawar***
<br>

***@Date: 2021-07-11***
<br>

***@Last Modified by: Amar Pawar***
<br>

***@Last Modified time: 2021-07-11***
<br>

***@Title : Create two d array with one on border and zero inside***

In [1]:
import numpy as np

In [2]:
my_array = np.ones((4,4))

In [ ]:
my_array

In [3]:
my_array[1:-1,1:-1] = 0

In [4]:
my_array

array([[1., 1., 1., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 1., 1., 1.]])